*{
    margin: 0;
    padding: 0;
    --numpad-button-color: #252525;
    --numpad-text-color: #fdfafa;
    --enter-key-color: #40e0d0;
    --operations-key-color: #ff4f71;
}

body{
    background-color: #141414;
}


#operations{
    grid-area: oper;
    display: grid;
    gap: 10px 10px;
}

#decimal{
    grid-area: point;
}

#change-sign{
    grid-area: sign;
}

#undo{
    grid-area:  undo;
}

#enter{
    grid-area:  enter;
}

#display{
    grid-area:  display;
}

#expression-display{
    grid-area: display;

    width: 100%;
    
    padding: 0px 0px 3px 0px;
    
    border-top: 0px;   
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px dashed black;
}

#display{
    background-color: #ffffff;
    margin-bottom: 30px;
}

#clear{
    grid-area: clr;
}

#results{
    float: right;
}

.zero{
    grid-area: zero;
}

#previous{
    grid-area: prev;
}

#results{
    grid-area: res;
}

#calculator{
    display: grid;

    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "display display display display" 
        "clr     undo    sign    oper" 
        ".       .       .       oper" 
        ".       .       .       oper" 
        ".       .       .       oper" 
        "zero   zero     point   enter";

    gap: 10px 10px;
    margin: 5vh auto 0 auto;
    padding: 5vh;
    height: 80vh;
    max-height: 800px;
    max-width: 600px;

    border-radius: 50px;
    background-color: #303030;

}

#calculator *{
    font-size: 4vh;
}

#calculator button{
    border: transparent;
    border-radius: 35px;
    box-shadow: 0px 5px 6px #404040;
}

#calculator button:active{
    box-shadow: 0 0 0 transparent;
    transform: translate(0, 5px) ;
}

#calculator button:hover{
    filter: brightness(120%);
}


#operations button{
    background-color: var(--operations-key-color);
}

#enter{
    background-color: var(--enter-key-color);
}


.number{
    background-color: var(--numpad-button-color);
    color: var(--numpad-text-color);
}

#decimal{
    background-color: var(--numpad-button-color);
    color: var(--numpad-text-color);
}

#change-sign{
    background-color: var(--operations-key-color);
}

#undo{
    background-color: var(--operations-key-color);
}

#clear{
    background-color: var(--enter-key-color);
}